{% extends 'base.html.twig' %}

{% block title %}Inscription -- Reprise de Leasing{% endblock %}

{% block content %}

	<div class="slider_area_register">
			<div class="single_slider_register d-flex align-items-center justify-content-center slider_bg_register">
				<div class="container">
					<div class="row">
						<div class="col-xl-12">
							<div class="slider_text_register text-center">
								<h3>Inscrivez-vous</h3>
								<h2 style="color:white">pour déposez votre premiére annonce</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{{ form_start(form) }}
	<div class="container align-items-center">
		<div class="col-xl-6">
			<div class="row">
				<div class="col-xl-6 mt-3 p-2">
					{{ form_widget(form.firstName) }}
				</div>
				<div class="col-xl-6 mt-3 p-2">
					{{ form_widget(form.lastName) }}
				</div>
			</div>

			<div class="row">
				<div class="col-xl-6 mt-1 p-2">
					{{ form_widget(form.phone) }}
				</div>
				<div class="col-xl-6 mt-1 p-2">
					{{ form_widget(form.email) }}
				</div>
			</div>

			<div class="row">
				<div class="col-xl-12 mt-1 p-2">
					{{ form_widget(form.password) }}
				</div>
			</div>

			<div class="col-xl-12 text-center mb-2">
				{{ form_widget(form.submit) }}
			</div>
		</div>

	</div>
{{ form_end(form) }}

{% endblock %}
